@use "variables" as *;
@use "mixins" as *;
@use "reset";
@use "header";
@use "hero";
@use "filters";
@use "jobs";
@use "auth";
@use "forms";
@use "not-found";

body {
  min-height: 100vh;
  font-family: $font-family-base;
  color: $color-primary-dark;
  background-color: $color-background;
}
